section {
  display: flex;
  margin: 4rem;
}

section > div {
  flex: 1;
  padding: 2rem;
  border-right: 1px solid rgb(181.25, 181.25, 181.25);
}

section > div:last-child {
  border-right: none;
}

#reply-form-container input[type=text] {
  position: relative;
  margin: 0.4rem;
  font-size: 1.2rem;
  padding: 0.4rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(181.25, 181.25, 181.25);
  transition-duration: 0.2s;
}
#reply-form-container input[type=text]:read-only {
  background: rgb(232.25, 232.25, 232.25);
}
#reply-form-container input[type=text]:focus {
  outline: none;
  border: 1px solid rgb(2.9268292683, 55.6097560976, 69.0731707317);
}

#reply-form-container > form {
  display: flex;
  flex-flow: column nowrap;
}
#reply-form-container > form label {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(2.9268292683, 55.6097560976, 69.0731707317);
}
#reply-form-container > form button {
  align-self: flex-end;
}

#name-email-inputs {
  display: flex;
  flex-flow: row nowrap;
}
#name-email-inputs div {
  flex: 1;
}

#message-inputs {
  display: flex;
  flex-flow: column nowrap;
}
#message-inputs textarea {
  margin: 0.5rem;
  font-size: 1.2rem;
  padding: 0.4rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(181.25, 181.25, 181.25);
  resize: none;
  min-height: 15rem;
  transition-duration: 0.2s;
}
#message-inputs textarea:focus {
  outline: none;
  border: 1px solid rgb(2.9268292683, 55.6097560976, 69.0731707317);
}

#user-message-container p {
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 5px 5px 8px 10px rgb(232.25, 232.25, 232.25);
  white-space: pre-wrap;
  font-size: 1.1rem;
}
