target/
application-prod.properties
application-dev.properties
.env

#Demonstration data
book_covers/*
!book_covers/0008567123.jpg 
!book_covers/0198800533.jpg 
!book_covers/0553108034.jpg 
!book_covers/1350501727.jpg 
!book_covers/1955529191.jpg
!book_covers/0063412624.jpg
!book_covers/0241739829.jpg 
!book_covers/0553801503.jpg 
!book_covers/1400079985.jpg 
!book_covers/195552999X.jpg
!book_covers/0063412632.jpg 
!book_covers/044100590X.jpg 
!book_covers/0679734503.jpg 
!book_covers/1491960205.jpg 
!book_covers/195622100X.jpg
!book_covers/0131002872.jpg 
!book_covers/0553103547.jpg 
!book_covers/0802150594.jpg 
!book_covers/184022729X.jpg 
!book_covers/1956221018.jpg
!book_covers/0143108271.jpg 
!book_covers/0553106635.jpg 
!book_covers/0981872557.jpg 
!book_covers/1853261750.jpg 
!book_covers/1956221697.jpg

author_images/*
!author_images/13.jpg 
!author_images/14.jpg  
!author_images/15.jpg  
!author_images/16.jpg  
!author_images/1.jpg  
!author_images/2.jpg  
!author_images/3.jpg  
!author_images/4.jpg  
!author_images/5.jpg 
!author_images/7.jpg  
!author_images/9.jpg


#Java
*.class
*.jar
*.war

#VSCode
launch.json
settings.json
.vscode

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

