section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#reg-auth-info {
  margin-top: 6rem;
  padding: 4rem 4rem;
  box-shadow: 2px 2px 15px 2px rgb(181.25, 181.25, 181.25);
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

#reg-auth-info h2 {
  text-align: center;
  color: rgb(1.8902439024, 35.9146341463, 44.6097560976);
}
#reg-auth-info h3 {
  text-align: center;
  color: rgb(1.8902439024, 35.9146341463, 44.6097560976);
}
#reg-auth-info p {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(2.9268292683, 55.6097560976, 69.0731707317);
}
#reg-auth-info a {
  color: #055F76;
  font-weight: bold;
  transition-property: color filter;
  transition-duration: 0.2s;
  margin-top: 1rem;
  font-size: 1.3rem;
  text-align: center;
}
#reg-auth-info a.link-current {
  color: rgb(9.1463414634, 173.7804878049, 215.8536585366);
}
#reg-auth-info a:hover {
  color: rgb(9.1463414634, 173.7804878049, 215.8536585366);
}
#reg-auth-info a:active {
  transition: none;
  color: rgb(8.1097560976, 154.0853658537, 191.3902439024);
}

form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

form > div {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.1rem;
}
form > div > * {
  flex-grow: 1;
}

.email-input {
  position: relative;
  display: flex;
  justify-content: stretch;
}
.email-input input {
  flex-grow: 1;
}

input {
  padding: 1rem;
  position: relative;
  transition-duration: 0.2s;
  border-radius: 10px;
  border: 2px solid rgb(181.25, 181.25, 181.25);
}

input + label {
  pointer-events: none;
  font-weight: normal;
  position: absolute;
  top: 30%;
  left: 3%;
  color: #8F8F8F;
}

input + label {
  transition-duration: 0.4s;
}

input:focus + label {
  font-size: 1rem;
  transform: translateY(-1rem);
  transition-duration: 0.4s;
}

input:not(:placeholder-shown) + label {
  font-size: 1rem;
  transform: translateY(-1rem);
  transition-duration: 0.4s;
}
