<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" th:href="@{/images/icons/logo-tiny.png}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/auth-reg/passwords/password-reset.css}">
<title>Reset password</title>
</head>
<body>
	<div id="page-container">
		<header th:replace="~{fragments/navigation}"></header>
		<section id="password-form-container">
			<form th:action="@{/password/reset}" method="POST" th:object="${newPasswordRequest}">
				<h2>Reset password:</h2>
				<input type="hidden" th:field="*{token}">
				<div>
					<div class="password-input">
						<input type="password" name="password" autofocus="autofocus" placeholder=" "/>
						<label>New password</label>
					</div>
				</div>
				<div>
					<div class="password-input">
						<input type="password" name="passwordConfirm" placeholder=" "/>
						<label>Password confirmation</label>
					</div>
				</div>
				<div>
					<button class="btn" type="submit">Reset password</button>
				</div>
			</form>
		</section>
	</div>
	<footer th:replace="~{fragments/footer}">Footer</footer>
</body>
</html>