<footer>
	<div id="footer-main">
		<div id="footer-container-1">
			<img id="f-logo" alt="logo" th:src="@{/images/icons/logo.png}">
			<p>Nisi, purus vitae, ultrices nunc. Sit ac sit suscipit hendrerit. Gravida massa volutpat aenean odio erat
				nullam fringilla.</p>
			<ul id="social-media-links">
				<li>
					<a alt="facebook" href="http://fsb.ru/">
						<img id="f-facebook" th:src="@{/images/icons/social_media/facebook.svg}">
					</a>
				</li>
				<li>
					<a alt="youtube" href="https://www.youtube.com/">
						<img id="f-youtube" th:src="@{/images/icons/social_media/youtube.svg}">
					</a>
				</li>
				<li>
					<a alt="twitter" href="https://twitter.com/">
						<img id="f-twitter" th:src="@{/images/icons/social_media/twitter.svg}">
					</a>
				</li>
				<li>
					<a alt="instagram" href="http://fsb.ru/">
						<img id="f-instagram" th:src="@{/images/icons/social_media/instagram.svg}">
					</a>
				</li>
				<li>
					<a alt="vk" href="https://vk.com/">
						<img id="f-vk" th:src="@{/images/icons/social_media/vk.svg}">
					</a>
				</li>
			</ul>
		</div>
		<div id="footer-container-2">
			<h4>Quick Links</h4>
			<ul>
				<li>
					<a th:href="@{/}">Home</a>
				</li>
				<li>
					<a th:href="@{/shop}">Shop</a>
				</li>
				<li>
					<a th:href="@{/contacts}">Contacts</a>
				</li>
				<li>
					<a th:href="@{/cart}">Cart</a>
				</li>
			</ul>
		</div>
		<div id="footer-container-3">
			<h4>Contact us</h4>
			<p>Do you have any queries or suggestions?</p>
			<a href="#">shopinfo@gmail.com</a>
			<p>If you need support? Just give us a call.</p>
			<a href="#">+1 111 222 333 44</a>
		</div>
	</div>
	<div id="footer-bottom">
		<div>
			<p>We ship with: </p>
			<img alt="" th:src="@{/images/icons/delivery_payment/dhl.png}"/>
			<img alt="" th:src="@{/images/icons/delivery_payment/music.png}"/>
		</div>
		<div>
			<p>Payment-options: </p>
			<img alt="" th:src="@{/images/icons/delivery_payment/visa.png}"/>
			<img alt="" th:src="@{/images/icons/delivery_payment/card.png}"/>
		</div>
		<div>
			<p>© Copyright 2024. None rights reserved.</p>
		</div>
	</div>
</footer>




























