#empty-cart {
  margin-top: 10rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}
#empty-cart p {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(2.9268292683, 55.6097560976, 69.0731707317);
}
#empty-cart a {
  color: #055F76;
  font-weight: bold;
  transition-property: color filter;
  transition-duration: 0.2s;
  font-size: 2rem;
}
#empty-cart a.link-current {
  color: rgb(9.1463414634, 173.7804878049, 215.8536585366);
}
#empty-cart a:hover {
  color: rgb(9.1463414634, 173.7804878049, 215.8536585366);
}
#empty-cart a:active {
  transition: none;
  color: rgb(8.1097560976, 154.0853658537, 191.3902439024);
}

#cart-items {
  margin: 4rem 8rem;
  margin-bottom: 2rem;
}
#cart-items table {
  border-collapse: collapse;
  flex-grow: 1;
  width: 100%;
  text-align: left;
}
#cart-items table thead tr {
  border-top: 1px solid rgb(181.25, 181.25, 181.25);
  border-bottom: 1px solid rgb(181.25, 181.25, 181.25);
  font-size: 1.5rem;
  color: rgb(2.9268292683, 55.6097560976, 69.0731707317);
}
#cart-items table thead tr th {
  padding: 0.5rem 0;
}
#cart-items table tbody tr {
  border-bottom: 1px solid rgb(181.25, 181.25, 181.25);
  font-size: 1.1rem;
  font-weight: bold;
  color: #055F76;
}
#cart-items table tbody tr td {
  padding: 1rem 1rem;
}
#cart-items table tbody tr td:first-child {
  width: 14rem;
}
#cart-items table tbody tr td:last-child {
  width: 14rem;
}
#cart-items table tbody tr td #img-container {
  display: flex;
  place-content: center;
  width: 8rem;
  height: 11rem;
  border: 1px solid rgb(181.25, 181.25, 181.25);
  border-radius: 10px;
  padding: 1rem;
}
#cart-items table tbody tr td #img-container img {
  object-fit: contain;
  max-width: 8rem;
  max-height: 11rem;
}
#cart-items table tbody tr td form {
  display: flex;
  justify-content: center;
}
#cart-items table tbody tr td form input[type=image] {
  width: 3rem;
  height: 3rem;
}
#cart-items table tbody tr .book-price {
  color: rgb(8.1097560976, 154.0853658537, 191.3902439024);
}

tbody a {
  color: #055F76;
  font-weight: bold;
  transition-property: color filter;
  transition-duration: 0.2s;
}
tbody a.link-current {
  color: rgb(9.1463414634, 173.7804878049, 215.8536585366);
}
tbody a:hover {
  color: rgb(9.1463414634, 173.7804878049, 215.8536585366);
}
tbody a:active {
  transition: none;
  color: rgb(8.1097560976, 154.0853658537, 191.3902439024);
}

#cart-actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}
